{% extends "allianceauth/base.html" %}
{% load i18n %}

{% block page_title %}
    Delete Timer
{% endblock page_title %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">
            {% trans "Delete Structure Timer" %}
            {% include 'structuretimers/index_button.html' %}
        </h1>
        <div class="container-fluid">
            <div class="col-md-2 col-md-offset-5">
                <div class="row">
                    <form action="" method="post" id="confirm-delete-form">
                        {% csrf_token %}
                        <p>{% blocktrans %}Are you sure you want to delete timer "{{ object }}"?{% endblocktrans %}</p>
                        <input class="btn btn-danger btn-block" type="submit" value="Confirm" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
